/****************
**  jumbotron
*****************/
#jumbotron {
    background-image: url("../img/bubblechamber.jpg");
    background-size: contain;
    padding-top: 0px;
    width: 100%;
    height: 100px;
}

#jumbotron h2{
    padding: 30px;
    margin: 0px;
    color: black;
}
#jumbotron p{
    float: left;
}
#jumbotron .higgs {
    display: inline-block;
    float: left;
    width: 35px;
    height: 35px;
}

/******************
**   Nav bar
*******************/
.navbar{
    margin-bottom: 0px;
}
nav .navbar-header {
    border-right: 2px solid grey;
}

nav #search-bar {
    width: 300px;
}
.navbar-form {
    overflow: auto;
    margin-right: 0px;
}

/***********************
 * search bar
***********************/
#livesearch {
    display: none;
    background-color: white;
    float: right;
    margin-right: 5px;
    border: 1px solid black;
    border-top: 0px;
    z-index: 10000;
    max-height: 50%;
    position: absolute;
    top: 145px;
    right: 5px;
}
/************************
**  Main content
************************/
body {
    padding-top: 0px;
    margin-top: 0px;
}
form {
  text-align: center;
}
td { white-space:pre }
table.center {
    margin-left:auto;
    margin-right:auto;
  }
