
form {
  text-align: center;
}
td { white-space:pre }
table.center {
    margin-left:auto;
    margin-right:auto;
  }
body {text-align:center;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
table thead, table tbody {
    display: block;
}
table tbody {
    overflow-y: auto;
    height: 300px;
    width: 100%;
}
table thead {
    width: 100%
}
