
form {
  text-align: center;
}
td { white-space:pre; }
table.center {
    margin-left:auto;
    margin-right:auto;
  }
body {text-align:center;}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#tabs {
    height: 800px;
}

table {
    border: 1px solid black;
}
table thead, table tbody {
    display: block;
}


table tbody {
    font-size: small;
    overflow-y: auto;
    height: 400px;
    width: 100%;
}

table thead {
    max-width: 95%;
    text-align: center;
}
tr.my-danger {
    background-color: #ff4242;
}

#mc-container {
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px 0px 15px 0px;
}
#mc-table-container {
    margin-left: 7%;
    width: 85%;
}

#mc-missing-samples, #mc-missing-input {
    height: 50px;
    margin-bottom: 30px;
}
#mc-missing-samples-content {
    border: 1px solid black;
    margin: 0px 0px 0px 0px;
}
#mc-missing-input-content {
    border: 1px solid black;
    margin: 0px 0px 0px 0px;
}
#data-container {
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px 0px 15px 0px;
}
.data-table-container {
    margin-left: 7%;
    width: 85%;
}

.data-missing-samples, .data-missing-input {
    height: 50px;
    margin-bottom: 30px;
}
.data-missing-samples-content {
    border: 1px solid black;
    margin: 0px 0px 0px 0px;
}
.data-missing-input-content {
    border: 1px solid black;
    margin: 0px 0px 0px 0px;
}
