/****************
**  jumbotron
*****************/
#jumbotron {
    width: 100%;
    height: 100px;
}
#jumbotron p{
    float: left;
}
#jumbotron .higgs {
    display: inline-block;
    float: left;
    width: 35px;
    height: 35px;
}

/******************
**   Nav bar
*******************/
nav .navbar-header {
    height: 60px;
    border-right: 2px solid grey;
}

/************************
**  Main content
************************/
form {
  text-align: center;
}
td { white-space:pre }
table.center {
    margin-left:auto;
    margin-right:auto;
  }
