#jumbotron {
    background: #FFF;
    width: 100%;
    height: 100px;
}
#jumbotron h2{
    float:left;
}
#jumbotron .higgs {
    display: inline-block;
    float: left;
    width: 35px;
    height: 35px;
}

/******************
**   Nav bar
*******************/
.nav {
    background:#FFF;
    float:left;
    width: 100%;
}
.nav #currentTag {
    float:right;
}
.nav ul {text-align:center;}
.nav ul li {float:left;display:inline;}
.nav ul li:hover {background:#E6E6E6;}
.nav ul li a {display:block;padding:15px 25px;color:#444;}
.nav ul li ul {position:absolute;width:110px;background:#FFF;}
.nav ul li ul li {width:110px;}
.nav ul li ul li a {display:block;padding:15px 10px;color:#444;}
.nav ul li ul li:hover a {background:#F7F7F7;}
.nav ul li ul.fallback {display:none;}
.nav ul li:hover ul.fallback {display:block;}

body{
    clear:both;
}
form {
  text-align: center;
}
td { white-space:pre }
table.center {
    margin-left:auto;
    margin-right:auto;
  }
